---
import type { Card } from '../types/types.ts';

interface Props extends Card {}

const {image,name,url,alt,frase,sinopsis,puntosPos,puntosNeg,valoraApart,valoraFinal} = Astro.props;
---
<li class="tablet:w-52 desktop:w-[300px] desktop:min-h-[300px] tablet:min-h-56  rounded-lg border-2 hover:border-venetian-red-600 border-[#242424] hover:scale-110 transition-all ease-in-out box-border duration-[400ms]" >
        <a href=`${url}`>
        <div class="w-full h-full bg-cover bg-center rounded-md card" style=`background-image: url(${image});`></div>
    </a>
</li>

<!-- TODO Cuando estás encima de la card que se mustre un outline y el titulo ascienda y por defecto que solo se mire la imagen -->