<li class="tablet:w-52 desktop:w-[350px] desktop:min-h-[350px] tablet:min-h-56 bg-red-800 rounded-md">
	<div class="w-full h-2/3 bg-[url('/src/images/ghost-tsushima.webp')] bg-cover rounded-md"></div>
	<h3 class="h-1/3 flex items-center justify-center text-xl">Ghost Tsushima</h3>
</li>