---
import Cards from "../data/CardData.ts"
import Card from "./Card.astro"
---

<section class="mt-14 absolute w-full h-auto flex justify-center">
	<ul class="w-full h-auto p-6 flex gap-5 flex-wrap justify-center" id="list_cards">
		{
			Cards.map(item => <Card {...item} /> )
		}
	</ul>
</section>
<style>
	.grid3r_li{
		background-color: red;
		width: 20px;
		min-height: 20px;
	}
</style>