---
import Card from '../components/Card.astro';
---

<section class="mt-14 absolute w-full h-auto flex justify-center">
	<ul class="w-full h-auto p-6 flex gap-5 flex-wrap justify-center">
		<Card></Card>
		<Card></Card>
		<Card></Card>
		<Card></Card>
		<Card></Card>
		<Card></Card>
		<Card></Card>
		<Card></Card>
	</ul>
</section>
<style>
	.grid_li{
		background-color: red;
		width: 20px;
		min-height: 20px;
	}
</style>