<nav class="w-full h-14 bg-slate-950 bg-opacity-80 backdrop-blur-sm fixed shadow-md nav">
	<ul class="flex justify-center items-center w-full h-full ">
		<li class=""></li>
		<li>BUSCADOR</li>
	</ul>
</nav>
<style>
	.nav{
		z-index: 1;
	}
</style>